spring:
  application:
    name: producer
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.protobuf.KafkaProtobufSerializer
    properties:
      schema.registry.url: http://localhost:8081
      auto.register.schemas: true

app:
  kafka:
    topic: demo.protobuf
